.forgot-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background:linear-gradient(135deg,#020617,#0f172a,#1e293b);
}

.forgot-form{
  width:400px;
  padding:40px;

  background:rgba(255,255,255,0.08);
  border-radius:25px;

  backdrop-filter:blur(12px);
  -webkit-backdrop-filter:blur(12px);

  border:1px solid rgba(255,255,255,0.1);

  box-shadow:0 10px 30px rgba(0,0,0,0.4);

  transition:0.4s;
}

.forgot-form:hover{
  transform:translateY(-5px);
}

.forgot-form h2{
  text-align:center;
  margin-bottom:25px;

  color:#ffffff;
  font-size:32px;
}

.forgot-form input{
  width:100%;
  padding:14px;

  border-radius:12px;

  border:1px solid rgba(255,255,255,0.1);

  background:rgba(255,255,255,0.05);
  color:#ffffff;

  font-size:16px;

  margin-bottom:20px;

  transition:0.3s;
}

.forgot-form input:focus{
  outline:none;
  border-color:#0ea5e9;
  box-shadow:0 0 10px rgba(14,165,233,0.4);
}

.forgot-form button{
  width:100%;
  padding:14px;

  border:none;
  border-radius:12px;

  background:linear-gradient(to right,#ef4444,#dc2626);

  color:white;
  font-size:17px;
  font-weight:bold;

  cursor:pointer;

  transition:0.3s;
}

.forgot-form button:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 20px rgba(239,68,68,0.3);
}